In [1]:
print('Hello, Python')

Hello, Python

In [2]:
type(True)

bool

In [3]:
type(4)

int

In [4]:
type('5')

str

In [5]:
type(5e10)

float

### Variables

In [7]:
no_guesses = 10
print(no_guesses)

10

In [11]:
no_guesses -= 1
print(no_guesses)

7

In [14]:
no_guesses -= 1
print(no_guesses)

5

### Functions

In [17]:
name = input('Enter your name: ')
time = input('Please enter the time of day: ')
print('Good ' + time + ', ' + name + '!')

Good morning, Dan!

In [20]:
def greet():
    name = input('Enter your name: ')
    time = input('Please enter the time of day: ')
    print('Good ' + time + ', ' + name + '!')

greet()

Good afternoon, dan!

### Built-in functions

In [21]:
print( 2000 + 22)

2022

In [24]:
prompt = input('What is your name? ')
print(prompt)

'ivana'

In [26]:
print(f"Hi {prompt}!")

Hi ivana!

### Define and call your own functions

In [39]:
def add_five(x):
    try:
        return 5 + x
    except TypeError as e:
        print('Please enter a number.', e)

In [41]:
res = add_five(5)
print(res)

10

### Understanding types of functions

In [42]:
def greeting():
    print('Hi there!')

In [44]:
greeting() # function without input variable

Hi there!

In [45]:
def greet(name):
    print(f"Hi! {name}")

In [46]:
greet('John')

Hi! John

In [47]:
def square_fun(x):
    return x ** 2

In [57]:
result = square_fun(459)

print(f'Result of squaring = {result}')

Result of squaring = 210681

In [60]:
def sum_of_squares(x,y):
    return x**2 + y**2

In [61]:
s = sum_of_squares(10,15)
print(s)

325

In [62]:
def is_it_raining():
    raining = input('Is it raining today?[y/n] ')
    return raining

In [65]:
monday_rain = is_it_raining()
print(monday_rain)

no

### Using modules

In [66]:
import calendar
dir(calendar)

['Calendar',
 'EPOCH',
 'FRIDAY',
 'February',
 'HTMLCalendar',
 'IllegalMonthError',
 'IllegalWeekdayError',
 'January',
 'LocaleHTMLCalendar',
 'LocaleTextCalendar',
 'MONDAY',
 'SATURDAY',
 'SUNDAY',
 'THURSDAY',
 'TUESDAY',
 'TextCalendar',
 'WEDNESDAY',
 '_EPOCH_ORD',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_colwidth',
 '_locale',
 '_localized_day',
 '_localized_month',
 '_monthlen',
 '_nextmonth',
 '_prevmonth',
 '_spacing',
 'c',
 'calendar',
 'datetime',
 'day_abbr',
 'day_name',
 'different_locale',
 'error',
 'firstweekday',
 'format',
 'formatstring',
 'isleap',
 'leapdays',
 'main',
 'mdays',
 'month',
 'month_abbr',
 'month_name',
 'monthcalendar',
 'monthrange',
 'prcal',
 'prmonth',
 'prweek',
 'repeat',
 'setfirstweekday',
 'sys',
 'timegm',
 'week',
 'weekday',
 'weekheader']

In [70]:
cal = calendar.month(2022,11)
print(cal)

   November 2022
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30

In [81]:
calendar.isleap(2020)

True

In [82]:
for i in range(2000,2101):
    print(f"Year {i} is leap -> {calendar.isleap(i)}")

Year 2000 is leap -> True
Year 2001 is leap -> False
Year 2002 is leap -> False
Year 2003 is leap -> False
Year 2004 is leap -> True
Year 2005 is leap -> False
Year 2006 is leap -> False
Year 2007 is leap -> False
Year 2008 is leap -> True
Year 2009 is leap -> False
Year 2010 is leap -> False
Year 2011 is leap -> False
Year 2012 is leap -> True
Year 2013 is leap -> False
Year 2014 is leap -> False
Year 2015 is leap -> False
Year 2016 is leap -> True
Year 2017 is leap -> False
Year 2018 is leap -> False
Year 2019 is leap -> False
Year 2020 is leap -> True
Year 2021 is leap -> False
Year 2022 is leap -> False
Year 2023 is leap -> False
Year 2024 is leap -> True
Year 2025 is leap -> False
Year 2026 is leap -> False
Year 2027 is leap -> False
Year 2028 is leap -> True
Year 2029 is leap -> False
Year 2030 is leap -> False
Year 2031 is leap -> False
Year 2032 is leap -> True
Year 2033 is leap -> False
Year 2034 is leap -> False
Year 2035 is leap -> False
Year 2036 is leap -> True
Year 2037 is leap -> False
Year 2038 is leap -> False
Year 2039 is leap -> False
Year 2040 is leap -> True
Year 2041 is leap -> False
Year 2042 is leap -> False
Year 2043 is leap -> False
Year 2044 is leap -> True
Year 2045 is leap -> False
Year 2046 is leap -> False
Year 2047 is leap -> False
Year 2048 is leap -> True
Year 2049 is leap -> False
Year 2050 is leap -> False
Year 2051 is leap -> False
Year 2052 is leap -> True
Year 2053 is leap -> False
Year 2054 is leap -> False
Year 2055 is leap -> False
Year 2056 is leap -> True
Year 2057 is leap -> False
Year 2058 is leap -> False
Year 2059 is leap -> False
Year 2060 is leap -> True
Year 2061 is leap -> False
Year 2062 is leap -> False
Year 2063 is leap -> False
Year 2064 is leap -> True
Year 2065 is leap -> False
Year 2066 is leap -> False
Year 2067 is leap -> False
Year 2068 is leap -> True
Year 2069 is leap -> False
Year 2070 is leap -> False
Year 2071 is leap -> False
Year 2072 is leap -> True
Year 2073 is leap -> False
Year 2074 is leap -> False
Year 2075 is leap -> False
Year 2076 is leap -> True
Year 2077 is leap -> False
Year 2078 is leap -> False
Year 2079 is leap -> False
Year 2080 is leap -> True
Year 2081 is leap -> False
Year 2082 is leap -> False
Year 2083 is leap -> False
Year 2084 is leap -> True
Year 2085 is leap -> False
Year 2086 is leap -> False
Year 2087 is leap -> False
Year 2088 is leap -> True
Year 2089 is leap -> False
Year 2090 is leap -> False
Year 2091 is leap -> False
Year 2092 is leap -> True
Year 2093 is leap -> False
Year 2094 is leap -> False
Year 2095 is leap -> False
Year 2096 is leap -> True
Year 2097 is leap -> False
Year 2098 is leap -> False
Year 2099 is leap -> False
Year 2100 is leap -> False

In [85]:
day_of_week = calendar.weekday(2022,11,12)
print(day_of_week)

5

In [88]:
print(calendar.calendar(2022, w=2, l=1, c=6, m=3))

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

In [93]:
list(calendar.day_name)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

In [94]:
list(calendar.day_abbr)

['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

In [95]:
list(calendar.month_name)

['',
 'January',
 'February',
 'March',
 'April',
 'May',
 'June',
 'July',
 'August',
 'September',
 'October',
 'November',
 'December']

In [96]:
for month in list(calendar.month_name):
    print(month)

January
February
March
April
May
June
July
August
September
October
November
December

In [97]:
import math

In [98]:
result = math.pow(2,5)
result

32.0

In [99]:
import random

In [116]:
num = random.randint(1,100)
num

53

In [126]:
days = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

random.choice(days) # choose a random element from a sequence

'Sun'

In [134]:
random.shuffle(days)
days

['Sun', 'Fri', 'Tue', 'Sat', 'Thu', 'Wed', 'Mon']

In [133]:
days

['Mon', 'Thu', 'Wed', 'Tue', 'Sat', 'Sun', 'Fri']

### Sequences

In [139]:
name = 'John' # string

In [140]:
group = ['John', 'Dan', 'Gloria', 'Sahara', 'Marvin'] # list

In [141]:
type(group)

list

In [145]:
group[2] # access 3 element in the list

'Gloria'

####

##### Lists

In [146]:
lotto_numbers = [8, 14, 15, 25, 30, 31, 17]

In [149]:
lotto_numbers[:-1]

[8, 14, 15, 25, 30, 31]

In [157]:
lotto_numbers[::2] # skip 2 element in the list

[8, 15, 30, 17]

##### Tuples

In [177]:
child1_birth = ('Julia', 'Hospital Lucile Packard', 'Stanford','California', 'USA','7/29/2022')

In [178]:
child2_birth = ('Tom', 'Washington Hospital', 'Fremont','California', 'USA','9/16/2021')

In [179]:
type(child1_birth)

tuple

In [180]:
print(f'Child name: {child1_birth[0]}')
print(f'Child hospital: {child1_birth[1]}')
print(f'Child city of birth: {child1_birth[2]}')
print(f'Child state: {child1_birth[3]}')
print(f'Child country: {child1_birth[4]}')
print(f'Child date of birth: {child1_birth[5]}')

Child name: Julia
Child hospital: Hospital Lucile Packard
Child city of birth: Stanford
Child state: California
Child country: USA
Child date of birth: 7/29/2022

### Conditional statements

In [185]:
n = input('Choose an integer between -10 and 10: ')
n = int(n)

if n < 5:
    print(f'The integer {n} is less than 5.')

In [186]:
def minimum_func(x,y):
    if x < y:
        return x
    else:
        return y

In [187]:
res = minimum_func(2,5)
print(res)

2

In [190]:
res = minimum_func(x=-2,y=-5)
print(res)

-5

In [191]:
res = minimum_func(2,2)
print(res)

2

In [193]:
res = minimum_func(6,4.1)
print(res)

4.1

In [1]:
def abs_val(num):
    if num < 0:
        return -num
    elif num == 0:
        return 0
    else:
        return num

In [6]:
res = abs_val(-1.5)
print(res)

1.5

### Iteration

In [9]:
for i in range(4):
    print(i+1)

1
2
3
4

In [10]:
# print odd numbers in range 1-7
for i in range(1,8,2):
    print(i)

1
3
5
7

In [17]:
vowels = ['a', 'i', 'e','o','u']

for v in vowels:
    print(v,end=', ')

a, i, e, o, u,

In [25]:
my_list = ["apple", "banana", "cherry"]

for fruit in my_list:
    print(fruit.upper())
print('-----------------')

for fruit in my_list:
    print('Juicy ' + fruit)

APPLE
BANANA
CHERRY
-----------------
Juicy apple
Juicy banana
Juicy cherry

#### While loop

In [26]:
vowels = ['a', 'i', 'e','o','u']
lenght = len(vowels)
print(lenght)

5

In [29]:
vowels = ['a', 'i', 'e','o','u']
i = 0
while i < len(vowels):
    print(vowels[i])
    i += 1

a
i
e
o
u

In [32]:
# With the continue statement we can stop the current iteration, and continue with the next

i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

#### Recursion

In [3]:
# factorial formula
def factorial(n):
    """Return the factorial of positive integer n."""
    if n == 1:
        return 1
    else:
        return n * factorial(n - 1)

In [4]:
res = factorial(10)
print(res)

3628800

In [5]:
def sum_digits(n):
    """Returns the sum of the digits of positive integer n."""
    if n < 10:
        return n
    else:
        all_but_last = n // 10
        last = n % 10
        return sum_digits(all_but_last) + last

In [7]:
res = sum_digits(12)
print(res)

3

In [12]:
133475 // 10

13347

In [13]:
n = 1234
last = n % 10
last

4

In [1]:
def fib(n):
    """Return the n-th number in the Fibonacci sequence"""
    if n == 1:
        return 0
    elif n == 2:
        return 1
    else:
        return fib(n -1) + fib(n - 2)

In [3]:
fib(10)

34

In [4]:
def is_palindrome(s):
    """Return whether string s is a palindrome."""
    if len(s) <= 1:
        return True
    else:
        return s[0] == s[-1] and is_palindrome(s[1:-1])

In [9]:
is_palindrome('1221')

True

### Object-Oriented-Programming

- a collection of data and methods that operate on that data
- every object has a type
- types define what programs can do with objects of that type

In [16]:
class Dog():
    def __init__(self, name, age) -> None:
        self.name = name 
        self.age = age

    def bark(self):
        print(f'{self.name} barks!')

In [17]:
doris = Dog('Doris', 5)
doris

In [18]:
doris.name

'Doris'

In [24]:
doris.age

15

In [25]:
doris.bark()

Doris barks!

In [26]:
print(doris.name)

Doris

In [30]:
doris.age += 5
print(doris.age)

35